.settings
.gaedata
.sass-cache
*~
*.orig
*.pyc
*.pyo
*.swp
*.tmp
index.yaml
sitestatic
desktop.ini
settings_overrides.py
nbproject
djangoappengine
django
django_mongodb_engine
djangotoolbox
dbindexer
settings_local.py
autoload
bootstrap
permission_backend_nonrel
filetransfers
