.settings
.gaedata
*~
*.orig
*.pyc
*.pyo
*.swp
*.tmp
sitestatic
desktop.ini
settings_overrides.py
nbproject
djangoappengine
django
django_mongodb_engine
djangotoolbox
dbindexer
pyjs
pymeta
pyvascript
settings_local.py
autoload
tinymce
