/* Height of the footer */
html, body {
  height: 100%;
}

body {
  background: #f0f0f0;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -43px;
}

#push {
  height: 43px;
}

#footer {
  clear: both;
}
#footer > div {
  text-align: center;
}

.post-date {
  float: right;
}

.post-comments-link {
  float: right;
}

p.dsq-widget-meta {
  background-color: #f0edde;
  padding: 5px !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

ul.dsq-widget-list {
  margin: 0;
}

@media (max-width: 767px) {
  .navbar .brand {
    display: none;
  }
}
.spinning {
  background: url("../img/spinning.gif") left no-repeat;
  padding-left: 20px;
}
