{% extends 'blog/base.html' %}
{% load disqus_tags i18n %}
{% block title %}{{ block.super }}{% if blog.keywords.strip %} - {{ blog.keywords.strip }}{% endif %}{% endblock %}

{% block extra-head %}
{{ block.super }}
{% if page_obj.number == 1 %}
<meta name="description" content="{{ blog.description|striptags|truncatewords:20 }}" />
{% endif %}
{% endblock %}

{% block content %}
{% for post in object_list %}
  <div class="post post-in-list">
    {% include 'blog/post.html' %}
    <div class="post-comments-link">
      <a href="{{ post.get_absolute_url }}#disqus_thread">{% trans "Comments" %}</a>
    </div>
    <div class="post-continue-link">
      <a href="{{ post.get_absolute_url }}">{% trans "Continue" %} &raquo;</a>
    </div>
  </div>
{% endfor %}

{% include "utils/pager.html" %}

{% disqus_num_replies %}
{% endblock %}
