{% load i18n %}
<form method="post" action="/accounts/login/">
{% csrf_token %}

<div>
    <label for="username">{% trans "Username" %}</label>
    <input type="text" name="username" value="" id="username" />
</div>
<div>
    <label for="password">{% trans "Password" %}</label>
    <input type="password" name="password" value="" id="password" />
</div>

<input type="submit" value="{% trans "Log in" %}" class="btn"/>
{% if request.path == "/accounts/login/" %}
    <input type="hidden" name="next" value="{{ request.GET.next|default:'/' }}" />
{% else %}
    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
{% endif %}
</form>

<ul>
    <li><a href="/accounts/register/">{% trans "Register" %}</a></li>
    <li><a href="/accounts/reset/">{% trans "Reset my password" %}</a></li>
</ul>
