<!DOCTYPE html>
{% load cms blog google_cse google_analytics %}
<html dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>{% block title %}{% endblock %} | {{ site_name }}</title>
    {% block blogfeeds %}
        {% blog_feeds %}
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" type="text/css">
        <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css" />
        {% google_analytics_code %}
    {% endblock %}

    {% block preload_js %}
        {% google_analytics_code %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
</head>

<body>
    <div id="wrapper">
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a href="/" class="brand">{{ site_name }}</a>
                        <ul class="nav">
                            {% show_menu %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span9">
                    {% block content-header %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{ message.tags }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endblock %}
                    {% block content %}{% endblock %}
                </div>
                <div class="hidden-phone">
                    <div class="span3">
                        {% block sidebar %}
                            {% show_block 'sidebar' %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div id="push"></div>
    </div>
    <div id="footer">
        <div class="container"><p>Copyright © {% now "Y" %} {{ site_copyright }}</p></div>
    </div>
    {% block js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>
