<!DOCTYPE html>
{% load cms blog google_cse google_analytics %}
<html dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} | {{ site_name }}</title>
    {% block blogfeeds %}
        {% blog_feeds %}
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/print.css" type="text/css" media="print">
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection">
        <![endif]-->
        <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css" />
    {% endblock %}

    {% block preload_js %}
        {% google_analytics_code %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
</head>

<body>
    <div id="wrap">
        <div id="header-wrap">
            <div class="container">
                <div class="span-24" id="header">
                    <h1 id="site-title"><a href="/">{{ site_name }}</a></h1>
                    {% google_search_form %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="span-24" id="navigation">
                <ul class="menu">
                    {% show_menu %}
                </ul>
            </div>
            <div class="span-18" id="content">
                <div class="content-area">
                    {% block content-header %}
                        {% if error %}<div class="error">{{ error }}</div>{% endif %}
                        {% if info %}<div class="notice">{{ info }}</div>{% endif %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="notice">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endblock %}
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="span-6 last" id="sidebar">
                <div class="content-area">
                    {% block sidebar %}
                        {% show_block 'sidebar' %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div id="footer-wrap">
        <div class="container" id="footer">
            <div class="span-24">
                <div>Copyright © {% now "Y" %} {{ site_copyright }}</div>
            </div>
        </div>
    </div>

    {% block js %}
    {% endblock %}
  </body>
</html>
