{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock css  %}

{% block js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock js %}

{% block content %}
    <h1>{{ title }}</h1>

    <form action="" method="POST" class="form-horizontal" id="form" {% block form-extra-attrs %}{{ form_extra_attrs }}{% endblock form-extra-attrs %}>
        {{ form }}
        {% csrf_token %}
        <div class="form-actions">
            <input type="submit" value="{{ submit_caption|default:_('Submit') }}" class="btn btn-primary">
        </div>  
    </form>
{% endblock content %}
